body {
    margin: 0;
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.animated-image {
    width: 250px;
    height: 250px;
    transition: opacity 0.3s ease-in-out; /* Modifica qui */
}

.fade-out { /* Modifica qui: cambia il nome della classe */
    opacity: 0; /* Modifica qui: aggiungi la proprietà opacity */
}

.image-label {
    margin-top: 10px;
    font-size: 1.5em;
}

/* Stili per l'hamburger menu */
.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle {
    display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}